<h2>Add service</h2>

<%= form_for @service do |f| %>
<%= render "users/shared/error_messages", resource: @service %>

  <div class="form-group">
    <%= f.label :service_name, class: "col-sm-4 control-label" %>
    <div class="col-sm-6">
      <%= f.text_field :service_name, autofocus: true, autocomplete: "shop_name",class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :price, class: "col-sm-4 control-label" %>
    <div class="col-sm-6">
      <%= f.number_field :price, autofocus: true, autocomplete: "chairs",class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :taken_time, class: "col-sm-4 control-label" %>
    <div class="col-sm-6">
      <%= f.time_field :taken_time, autofocus: true, autocomplete: "taken_time", step: 1800 ,class: "form-control" %>
    </div>
  </div>

  <%= f.hidden_field :shop_id, value: current_user.shop.id %>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-6">
      <%= f.submit "Submit", class: "btn btn-primary" %>
    </div>
   </div>
<% end %>
